/* GENERAL STYLE */
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* UTILITIES */


/* HEADER */
header {
    margin: 10px;
}

.logo {
    vertical-align: middle;
}

.title {
    font-size: 30px;
    vertical-align: middle;
    font-weight: bold;
}

/* MAIN */
main {
    height: 100%;
    background-color: #f6f8f9;
    padding: 40px 0;
}

.container{
    width: 60%;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 30px;
}

/* Options */
.options {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(219, 218, 218);
}

.add-task{
    background-color: #47adf2;
    color: white;
    margin: 10px 0 10px 40px;
}

.add-section {
    background-color: white;
    color: rgb(167 165 165 / 71%);
}

hr{
    border: 1px solid #f6f8f9;
}

/* Sections*/
h2 {
    font-size: 20px;
    color: #454952;
    margin: 30px 0 0 40px;
}

.task {
    margin: 15px 0 20px 40px;
}

.status {
    font-size: 10px;
    border-radius: 50%;
    padding: 2px 3px;
    margin-right: 5px;
}

.check {
    color: green;
    border: 1px solid green;
}

.delete {
    color: red;
    border: 1px solid red;
}

/* Categories */
.categories {
    font-size: 10px;
    border-radius: 10px;
    padding: 6px 10px;
    color: #fff; 
}

.editorial {
    background-color: #47acea;
}

.q1-goals {
    background-color: #9c72e4;
}

.recruiting {
    background-color: #64c0a9;
}

.mobile {
    background-color: #f29e33;
}

.website {
    background-color: #d863a1;
}

.sales {
    background-color: #b0c926;
}